* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(38deg, #000428, #004e92);
  font-family: sans-serif;
}
/* FLEX CONTAINER (CONTENEDOR FLEX) */
.contenedor {
  border: 2px solid white;
  padding: 4em 2em;
  display: flex;
  /*height: 100vh; /* altura toda la ventana */
  flex-direction: row; /* elementos en fila */
  /*flex-wrap: wrap; /* los elementos se adaptan al espacio que tengo */
  /*justify-content: /* center; centra todos los elementos (horizontal) */
}
/* FLEX ITEMS (CONTENIDO FLEX) */
.personaje {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 1em;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
  /*flex-grow: 1; /* los elementos crecen hasta llenar el contenedor */
}
.per2 {
  /*flex-shrink: 1; /* reduce el elemento */
  /* flex-basis: 250px; */
  align-self: flex-start; /* alinea el elemento en concreto */
}
/* .per3 {
  /*flex-basis: 400px; /* anchura concreta a un elemento */
  /*align-items: flex-end; /* alineación en eje cruzado: abajo */
  /*order: -1; /* cambia el orden de la caja */
  /* flex-grow: 2; 
}  */
