* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(../images/fondo.png);
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  position: absolute;
  width: 100%;
}
/*ENCABEZADO*/
header {
  text-align: center;
}
/*MENU*/
.menu ul {
  list-style-type: none;
  margin: 10px;
  text-align: center;
}
.menu li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
.menu li a {
  padding: 2px 7px 2px 7px;
  color: #666;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  text-decoration: none;
  /* transition */
  transition-property: background-image, color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.menu li a:hover {
  background-image: linear-gradient(to bottom right, hsl(209, 83%, 88%), hsl(212, 32%, 51%));
  color: rgb(45, 9, 204);
  box-shadow: 5px 5px 4px hsl(236, 30%, 49%);
}
#focus a {
  font-weight: bold;
}
/*SUBMENÚ*/
/*TABLA*/
table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: palegoldenrod;
  text-align: center;
}
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5em;
}
/*PIE*/
footer {
  font-family: monospace;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 1em;
}
