html {
  font-family: sans-serif;
}
body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
}
button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}
div :first-child {
  align-self: flex-start;
}
div :nth-child(2), div :nth-child(4) {
  align-self: center;
}
div :nth-child(3) {
  align-self: flex-end;
}
div :nth-child(5) {
  align-self: flex-start;
}
div {
  align-items: center;
  border: 1px solid black;
  height: 100px;
  justify-content: space-around;
  display: flex;
}
