* {
  box-sizing: border-box;
  margin: 0;
}
article {
  display: flex;
  flex-basis: calc(100% / 6);
  flex-flow: column;
  flex-grow: 1;
  padding: 0.5em;
}
article h2,
article p,
article h3,
article #galeria {
  background-color: rgb(255, 160, 122);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  background-color: rgb(70, 130, 180);
  color: white;
  padding: 1em;
}
header {
  display: flex;
  justify-content: space-between;
}
footer {
  align-items: center;
  display: flex;
}
footer p {
  display: flex;
  justify-content: center;
}
h2,
h3 {
  padding: 0.5em;
}
#galeria {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5em;
}
#galeria img {
  width: 200px;
}
h3 {
  color: white;
  text-align: center;
}
#icons img {
  width: 30px;
}
#menu {
  display: flex;
  flex-direction: row;
}
#menu button {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
p {
  flex-grow: 1;
  padding: 1em;
}
section {
  display: flex;
  flex-wrap: wrap;
}
section :nth-child(3) {
  flex-basis: calc(100% / 3);
}

@media screen and (max-width: 800px) {
  article {
    flex-basis: 100%;
    flex-flow: column;
  }
  header {
    align-items: center;
    flex-direction: column; 
    padding-bottom: 0;
  }

}
