body {
  box-sizing: border-box;
  margin: 0;
  background: #d4c26a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d4c26a, #fff0aa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d4c26a,
    #fff0aa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Mobile First */
.header-sitio {
  align-items: center;
  background-color: #152c55;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .header-sitio {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header-sitio h1 {
  color: white;
}

nav {
}
nav a,
aside a {
  color: white;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
}

.contenedor {
  background-color: white;
  min-height: calc(100vh - 20px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
h1,
h2 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
h2 {
  color: white;
}

.contenedor-flex {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .contenedor-flex {
    flex-direction: row;
  }
}

.principal {
  order: 2;
}
aside {
  margin-bottom: 1rem;
}

aside {
  background-color: #152c55;
}
@media screen and (min-width: 768px) {
  .principal {
    flex: 0 1 60%; /* flex-grow flex-shrink flex-basis */
    margin-right: 1rem;
    order: -1;
  }
  aside {
    flex: 1; /* flex-grow: 1; */
  }
}
.servicios {
  display: flex;
}
.servicios .servicio {
}
@media screen and (min-width: 768px) {
  .servicios {
    display: flex;
  }

  .servicios .servicio {
    flex: 1; /* flexgrow: 1; */
  }
}

.servicio {
  padding: 5px;
  background-color: #aa6639;
}

.servicio:nth-child(2) {
  background-color: #7688a9;
}

.servicio:nth-child(3) {
  background-color: #4d648d;
}

footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #7688a9;
  margin-top: 20px;
  justify-content: center;
}
footer p {
  color: white;
}
