* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.columns {
  column-width: 10em;
  text-align: justify;
}

.threecolumns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  column-rule: 1px dotted yellow;
  column-rule-width: thick;
  text-align: justify;

  /* le damos "aire" a las columnas */
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;

  -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 2rem; /* Firefox */
  column-gap: 2rem;
  text-align: justify;
}
