/* elementos div con inline-block
altura en pixel, anchura en %
propiedades de columnas para los articles y float left */

*{
    box-sizing: border-box;
    margin: 0;
}
.articles {
    column-count: 3;
    float: right;
    margin-top: 30px;
    width: 80%;
}
header {
    text-align: center;
}
.courses {
    float: left;
    margin-left: 20%;
    margin-top: 30px;
}
.courses .course {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    width: 33%;
}
footer {
    background-color: rgb(169, 169, 169);
    bottom: 0;
    padding: 2em;
    position: fixed;
    text-align: center;
    width: 100%;
}
nav {
    background-color: rgb(51, 102, 153);
    padding: 1em;
    
}
nav .menu-item {
    color: white;
    display: inline;    
    font-weight: bolder;
    margin-right: 6.5em;
    padding: 5em 5em 5em 0em;
}

.sidebar {
    background-color: rgb(51, 102, 153);
    float: left;
    height: 100%;
    margin-top: 30px;
    padding: 1em;
    position: absolute;
    width: 15%;
}
.sidebar .menu-item {
    color: white;
    font-weight: bolder;
    padding: 2em 2em 2em 0em;
}