/* diseño fluido: anchuras en porcentajes y alturas en pixel */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article {
  background-color: red;
  height: 300px;
  float: left;
  margin: 5px 30px;
  width: 20%;
}
.container {
  background-color: lightgrey;
  height: 650px;
  padding: 5px;
  overflow: hidden;
}
footer {
  background-color: blue;
  float: left;
  height: 300px;
  margin: 5px 30px;
  width: 70%;
}
.sidebar {
  background-color: yellow;
  float: left;
  height: 620px;
  margin: 5px 30px;
  width: 20%;
}
