* {
  /* garantizamos que el width y heigth sea el real */
  box-sizing: border-box;
  /* eliminamos posibles padding y margin por defecto */
  margin: 0;
  padding: 0;
}
.backlogo {
  background-color: rgb(255, 140, 0);
  height: 150px;
  left: 100px;
  position: absolute; /* para posicionar respecto al padre (padre relative, hijo/s absolute) */
  top: 20px;
  width: 150px;
  z-index: 1;
}
.banner {
  background-color: rgb(173, 216, 230);
  display: block;
  height: 200px;
  margin: 20px auto;
  position: relative;
  width: 80%;
}
.centered {
  background-color: rgb(144, 238, 144);
  height: 150px;
  left: 50%;
  line-height: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%); /* alineo la caja en el centro respecto al padre */
  width: 50%;
}
.content {
  background-color: rgb(233, 150, 122);
  height: 500px;
  margin: 0 auto;
  position: relative;
  width: 80%;
}
.footer {
  background: rgb(212, 212, 212);
  bottom: 0;
  height: 40px;
  line-height: 50%;
  position: fixed;
  width: 100%;
  z-index: 10;
}
h1 {
  position: relative;
  padding-left: 50px;
}
.logo {
  background-color: rgb(85, 107, 47);
  height: 150px;
  left: 30px;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  width: 150px;
  z-index: 2;
}
.menu-element {
  display: inline-block;
  padding: 1em 2em;
}
.sticky-menu {
  background: rgb(212, 212, 212);
  height: 40px;
  line-height: 50%;
  position: sticky;
  top: 0; /* IMPORTANTE PARA EL STICKY MENU */
  width: 100%;
  z-index: 100;
}
