/* listado */
nav ul {
    display: table-row;
}
li {
  background-color: thistle;
  display: table-cell;
  margin: 2em;
  padding: 1em;
}
/* elemento par */
li:nth-child(even) {
  background: #228965;
}
/* elemento impar */
li:nth-child(odd) {
  background: #ff8c00;
}
/* enlace */
a {
  text-decoration: none;
}

a:hover {
  cursor: crosshair;
}
