* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    position: fixed;
    height: 100%;
    width: 100%;
}
/* LAYOUT BASE: DISEÑO FIXED (tamaños en px) */
article {
  background-color: lightseagreen;
  height: 500px;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 45px;
  /* width: 28em; /* DISEÑO ELASTIC (tamaños en em) */
}
article:nth-child(1) {
  float: left;
  width: 370px;
}
article:nth-child(2) {
  float: right;
  width: 370px;
}
.container {
  background-color: lightskyblue;
  height: 600px;
  /* height: 40em; */
  margin: 0 auto; /* centrado: 20 top, bottom */
  padding: 20px;
  width: 800px;
  /*width: 61em; /* DISEÑO ELASTIC (tamaños en em) */
}
header {
  background-color: orange;
  height: 40px;
}
