table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
}


/* Utilizando únicamente pseudoselectores da color de fondo verde a las casillas que contienen horas */

tbody tr td:first-child {
    background-color: green;
}


/* Utilizando únicamente pseudoselectores da color de fondo amarillo a la celda de recreo */

tbody tr:nth-child(3) td:nth-child(2) {
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}


/* Cambiar los estados de los enlaces para que: */


/* nunca estén subrayados */

a {
    text-decoration: none;
}


/* ni están visitados se muestren en rojo */

a:visited {
    color: red;
}


/* si no están visitados se muestren en verde */

a:link {
    color: green;
}


/* Utilizando pseudoselectores hacer que cuando pasemos el ratón sobre la columna del viernes
aumente el tamaño de letra el doble */

thead tr th:last-child:hover,
tbody tr td:last-child:hover {
    font-size: 2em;
}


/* Utilizando Pseudoelementos Haz que la primera letra de los días tenga el doble de tamaño*/

thead th::first-letter {
    font-size: 2em;
}


/* Añade un borde rojo que esté separado 5 px a los campos obligatorios */

input:required {
    border: 1px solid red;
    padding: 10px;
}


/* Añade un * en rojo detrás de las etiquetas */

label::after {
    color: red;
    content: "*";
}