* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.red,
.blue,
.yellow {
  height: 150px;
  float: left;
  width: calc(100% / 3); /* (1/3)ancho */
}
.red {
  background-color: rgb(255, 0, 0);
}
.blue {
  background-color: rgb(0, 0, 255);
}
.yellow {
  background-color: rgb(255, 255, 0);
}

/* Hasta 992px: */
@media screen and (max-width: 992px) {
  .red,
  .blue {
    width: 50%;
  }
  .yellow {
    width: 100%;
  }
}

/* Hasta 576px: */
@media screen and (max-width: 576px) {
  .red,
  .blue,
  .yellow {
    width: 100%;
  }
}
