* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* altura común a los contenedores */
.container > div,
header {
  height: 150px;
}

header,
h1 {
  background-color: rgb(255, 255, 0);
  margin: auto;
  text-align: center;
}

h1 {
  line-height: 150px; /* alineado vertical para el texto */
}

.red {
  background-color: rgb(255, 0, 0);
}

.blue {
  background-color: rgb(0, 0, 255);
}

.green {
  background-color: rgb(0, 128, 0);
}

/* Para pantallas entre 576px y 933px (por ejemplo tablets): */
@media screen and (min-width: 576px) {
  header,
  h1 {
    background-color: rgb(255, 165, 0);
    color: rgb(0, 128, 0);
    margin: auto;
    text-align: center;
  }

  .red {
    float: left;
    width: 50%;
  }

  .blue {
    float: left;
    width: 50%;
  }

  .green {
    float: left;
    width: 100%;
  }
}

/* Para pantallas mayores de 933px: */
@media screen and (min-width: 933px) {
  header,
  h1 {
    background-color: rgb(255, 165, 0);
    margin: auto;
    text-align: center;
  }

  .red {
    float: left;
    width: calc(100% / 3); /* (1/3)ancho */
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
  }

  .blue {
    float: left;
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
  }

  .green {
    float: left;
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
  }
}
/* APAISADO */
/* @media screen and (orientation: landscape) {
  header {
    
  }*/
