* {
  box-sizing: border-box;
  border: 0;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.blue {
  background-color: blue;
  bottom: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
.red {
  background-color: red;
  bottom: 0;
  float: left;
  position: fixed;
  top: 0;
  width: 70%;
  z-index: 1;
}
/* OCULTACIÓN DEL DIV CON EL BREAKPOINT DEFINIDO */
@media screen and (max-width: 768px) {
  .red {
    transition: left 1s ease-in-out; /* efecto suave de transición */
    left: -65%; /* lo saco del margen izquierdo */
  }
}
@media screen and (min-width: 768px) {
    .red {
      transition: left 1s ease-in-out; /* efecto suave de transición */
      left: 0; /* posición inicial respecto al lado izquierdo */
    }
  }