* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  padding: 1em;
}

banner {
  background-image: url("img/pexels-julia-volk-5769588(1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 600px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 80%;
}

#boton {
  left: 50%;
  line-height: 50%;
  position: absolute;
  text-align: center;
  top: 80%;
  transform: translate(-50%, -50%); /* alineo la caja en el centro respecto al padre */
}

body, html {
  font-family: sans-serif;
  height: 100%;
}

#boton {
  padding: 1em;
}

#centrado {
  background-color:lightskyblue;
  height: 200px;
  line-height: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(50%, -20%);
  width: 200px;
}

footer {
  background-color: darkseagreen;
  bottom: 0;
  margin-top: 50px;
  padding: 0.5em;
  position: fixed;
  width: 100%;
}

footer p,
footer img {
  display: inline-block;
}

#galeria {
  display: block;
  float: left;

}

header {
  background-color: darkseagreen;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
}

#iconos {
  float: right;
}

#imagenbanner {
  display: block;
  margin: 0 auto;
  width: 80%;
}

#img2,
#img3,
#img4 {
  float: left;
  padding: 1em;
  width: 200px;
}

#img5 {
  float: left;
  padding: 1em;
  width: 400px;
}

.lista {
  width: 60%;
}

menu {
  position: relative;
  width: 80%;
}

p {
  margin-bottom: 2em;
}

#parrafos {
  float: right;
  text-align: left;
}

.principal {
  text-align: center;
}

#searchbar {
  display: inline-block;
  line-height: 50%;
  position: relative;
  margin-right: 0;
  text-align: right;
  top: 50%;
  width: 20%;
}


ul.lista li {
  display: inline-block;
  text-decoration: none;
}
