* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around; /* distribuye los elementos */
  margin: 50px auto; /* centra el contenido flex */
  width: 80%;
}

.container img {
  border: 5px solid black;
  width: 15%;
}

/* Estilos para rotar las imágenes (rotación) */
/* img:nth-of-type(1) {
    transform: rotate(45deg);
  }
  img:nth-of-type(2) {
    transform: rotate(15deg);
  }
  img:nth-of-type(3) {
    transform: rotate(-15deg);
  }
  img:nth-of-type(4) {
    transform: rotate(-45deg);
  } */

/* Estilos para escalar las imágenes (escalado) */
/*img:nth-of-type(1) {
    transform: scale(2, 2);
  }
  img:nth-of-type(2) {
    transform: scaleX(0.5);
  }
  img:nth-of-type(3) {
    transform: scaleY(1.5);
  }
  img:nth-of-type(4) {
    transform: scale(2, 1.5);
  }*/

/* Estilos para desplazar las imágenes (traslación) */
/*img:nth-of-type(1) {
    transform: translate(2rem, 2rem);
  }
  img:nth-of-type(2) {
    transform: translateX(50px);
  }
  img:nth-of-type(3) {
    transform: translateY(-50px);
  }
  img:nth-of-type(4) {
    transform: translate(-2rem, -2rem);
  }*/

/* Estilos para el sesgado */
/* img:nth-of-type(1) {
  transform: skew(15deg, 15deg);
}
img:nth-of-type(2) {
  transform: skewX(10deg);
}
img:nth-of-type(3) {
  transform: skewY(-10deg);
}
img:nth-of-type(4) {
  transform: skewX(-15deg) skewY(-15deg);
}*/

/* Trasformaciones combinadas */
/* img:nth-of-type(2) {
    transform: rotate(30deg) scale(1.5, 1.5) translateY(100px);
  }*/

/* Modificando el origen de la rotación */
/*img:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: top left;
  }
  img:nth-of-type(4) {
    transform: rotate(45deg);
  }*/
