* {
  box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

/* enlaces --> botones */
.boton {
    background-color: #008FD1;
    color: white;
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    padding: 0.6rem 2rem;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.contenido {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.contenido h3 {
    font-size: 1rem;
    line-height: 1.4rem;
}

.contenido p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9rem;
}

.contenido span {
    color: #db008d;
}

img {
  max-width: 100%; /* se ajusta a la ventana (responsive) */
}

h2 {
  flex: 0 1 100%;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: "Noto Serif", serif;
  font-weight: 600;
  margin: 0;
}

/* MEDIA QUERIES */
/* a partir de 480px */
@media screen and (min-width: 480px) {
  .contenido-principal {
    display: flex;
    flex-wrap: wrap; /* una debajo de otra en mobile first */
    justify-content: space-between;
  }
  .entrada {
    /*flex: 0 1 50%; /* cada entrada ocupa la mitad de la pantalla */
    flex: 0 1 calc(50% - 1rem); /* para que ocupe menos */
  }
}
/* a partir de 768px */
@media screen and (min-width: 768px) {
  .entrada {
    flex: 0 1 calc((100% / 3) - 1rem); /* para que ocupe menos */
  }
}
