* {
    box-sizing: border-box;
  }
  
  .container {
    width: 400px;
    height: 400px;
    margin: 0px auto;
  }
  
  h1 {
    text-align: center;
  }
  
  #pulse {
    border-radius: 50%;
    margin: 100px auto;
    height: 200px;
    width: 200px;
    background-color: green;
  }
  
  #pulse:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: pulse 1s linear infinite;*/
  }
  
  #movingSquare {
    background-color: red;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 50px;
    position: fixed;
    animation: corre 3s ease-in-out alternate 3;
    /* animation-name: corre;
       animation-duration: 3s;
       animation-timing-function: ease-in-out;
       animation-iteration-count: 3; 
    */
  }
  
  @keyframes pulse {
    0% {
      width: 200px;
      height: 200px;
      background-color: red;
      margin: 100px auto;
    }
    25% {
      width: 100px;
      height: 100px;
      background-color: yellow;
      margin: 150px auto;
    }
    50% {
      width: 200px;
      height: 200px;
      background-color: blue;
      margin: 100px auto;
    }
    60% {
      width: 300px;
      height: 300px;
      background-color: pink;
      margin: 50px auto;
    }
    100% {
      width: 200px;
      height: 200px;
      background-color: red;
      margin: 100px auto;
    }
  }
  
  @keyframes corre {
    50% {
      left: 90%;
      top: 50%;
    }
  
    75% {
      left: 50%;
      top: 90%;
    }
  }