html {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#9198e5, transparent 80%, transparent);
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}

#menu {
    margin: 0 auto;
    text-align: center;
}

#menu ul li {
    display: inline;
    list-style: none;
    padding: 1.5em;
}

input[type="button"] {
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, hsl(300, 100%, 90%), hsl(300, 100%, 40%));
    box-shadow: 5px 5px 4px hsl(260, 100%, 70%);
    /* ejercicio 5 */
    transition-property: background-image, color, box-shadow;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

input[type="button"]:hover {
    background-image: linear-gradient(to bottom right, hsl(300, 82%, 71%), hsl(300, 96%, 30%));
    color: aquamarine;
    box-shadow: 5px 5px 4px hsl(260, 85%, 51%);
}