body {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  background-color: lightgray;
  border-style: none;
  border-radius: 5px;  
  box-shadow: 5px 5px 4px hsl(0, 0%, 72%);
  padding: 2em;
  width: 30%;

}

label,
input,
textarea {
  display: inline-block;
  margin-bottom: 10px;
}

label {
  text-align: left;
  width: 100px;
  padding-right: 50px;
  vertical-align: top;
}

textarea {
  margin-bottom: 0px;
}

input#email:focus {
  border-color: green;
  border-radius: 3px;
  background-color: lightgreen;
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

input#password:focus {
  border-color: red;
  border-radius: 3px;
  background-color: lightcoral;
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}

input[type=submit] {
    margin-right: 0;
}
