body {
    height: 100%;
    width: 100%;
    background-attachment: fixed; /* hace que el fondo no se repita */
    background-image: linear-gradient(#e66465, #9198e5, transparent 80%, transparent);

}

div {
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.shady {
    box-shadow: 5px 5px 4px hsla(120, 100%, 40%, 0.5);
    background-image: linear-gradient(green, white);
}

.shady2 {
    box-shadow: -5px -5px 4px hsla(0, 100%, 50%, 0.5);
    background-image: radial-gradient(orange, yellow, green);
}

.shady3 {
    box-shadow: 5px 0px 0px hsla(216, 100%, 50%, 0.5);
    background-image: repeating-linear-gradient(white, lightblue 15%, lightgray 10%);
}