body {
  background-image: url(img/desktop.png);
  background-repeat: no-repeat;
  width: 100%;
}

.dock {
  bottom: 20px;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  width: 100%;
}

img {
  display: inline;
  height: 100px;
  padding: 2.5px;
  width: 100px;
  transition-property: height, width, padding;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

img:hover {
    height: 140px;
    padding: 10px;
    width: 140px;
}
