/* Tamaños: primera letra 3em, primera línea 2em. */
p::first-letter {
    font-size: 3em;
    color: #111111;
}
p::first-line {
    font-size: 2em;
    color: #222222;
}
/* La primera letra, la primera línea y el resto del párrafo tendrán los colores 
#111111, #222222 y #333333 respectivamente. */
p {
    color: #333333;
}
