body {
    background-image: url(html5.png), url(css3.png), url(js.png);
    background-position: left, center, right;
    background-repeat: no-repeat;
}

main {
    margin: 1em;
    padding: 2em;
    text-align: center;
    color: lightgrey;
    background-color: rgb(00, 00, 00, 0.6);
}

main p {
    font-style: italic;
}

footer {
    color: white;
    background-color: black;
}