/*El primero (párrafo_especial) tendrá color verde, tamaño de fuente de 0.8 em y estilo italic.*/
p.parrafo_especial {
    color: green;
    font-size: 0.8em;
    font-style: italic;
}
/*El segundo (párrafo_azul) tendrá color azul y tamaño de fuente 1.2 em.*/
p.parrafo_azul {
    color: blue;
    font-size: 1.2em;
}
/*El cuerpo del documento será con fondo de color lightblue y el color del texto gris.*/
body {
    background-color: lightblue;
    color: grey;
}
/*Los titulares de nivel 1 y 2 de color rojo.*/
h1, h2 {
    color: red;
}