hr {
    width: 450px;
    color: grey;
    margin-left: 0;
    margin-bottom: 0.5em;
}
table {
    border: 2px solid grey;
}
thead {
    background-color: grey;
    color: white;
}
tbody {
    text-align: center;
}
tbody tr td {
    color: grey;
}
tfoot {
    background-color: black;
    color: white;
}