body {
    background-image: url(background.png);
    background-image: fixed;
    background-repeat: no-repeat;    
    background-position: center;    
}
p {
    text-align: center;
    background-color: rgb(00, 00, 00, 0.2);
}