#divespecial {
    border: 1px solid red;
    background-color: lightgrey;
    width: 200px;
}

#pespecial {
    border: 1px dashed green;
    width: 300px;
}

#otroespecial {
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto; --> centrar */
    border: 1px dotted;
    width: 300px;
}

span {
    background-color: grey;
    color: white;
    border: 1px solid black;
}