body {
    color: red;
}
h1 {
    text-decoration-line: underline;
}
hr {
    color: lightgrey;
    width: 400px;
    margin-left: 0;
}
form {
    border-top: 3px dashed red;
    border-left: 3px dashed red;
    border-right: 3px dashed red;
    border-bottom: 4px solid red;
    width: 290px;
}
input[name="login"], input[name="password"] {
    width: 190px;
    border: 1px dashed red;
}
textarea, input[type="submit"], input[type="reset"] {
    border: 1px dashed red;
    color: green;
}
