a[title] {
    font-size: 15pt;
    border: 1px dotted orangered;
}

img[alt] {
    font-size: 10pt;
    font-style: italic;
    border: 1px dashed darkred;
}

img[alt="logo"] {
    font-size: 11pt;
    border: 1px dotted green;
}