table {
    background-color: white;
}

tr td {
    border-bottom: 1px solid gray;
}

tbody tr:first-child {
    background-color: lawngreen;
}

tbody tr:last-child {
    background-color: darkred;
    color: white;
}