/* Cuerpo del documento: fuente Verdana 10pt, color negro. Color de fondo gris. */
body {
    font-family: verdana;
    font-size: 10pt;
    color: black;
    background-color: lightgrey;
}
/* Elementos para 3 clases diferentes:
.naranja: texto naranja con fondo azul. Aplicable a párrafos. */
p.naranja {
    color: orange;
    background-color: blue;
}
/* .consola: texto verde tipo Courier sobre fondo negro. Aplicable a párrafos. */
p.consola {
    font-family: courier;
    color: green;
    background-color: black;
}
/* .importante: para los enlaces. No deben tener subrayado y cuando el ratón pase por encima les cambia el fondo a amarillo.  */
a.importante {
    text-decoration-line: none;
}
a.importante:hover {
    background-color: yellow;
}
/* Crea también un elemento id llamado #titulo para aplicarlo a una etiqueta <h1>, con fuente Verdana tamaño 40 puntos y color gris oscuro. */
#titulo {
    font-family: verdana; /*creo que la hereda del título?*/
    font-size: 40pt;
    color: darkgrey;
}