
/*El cuerpo del documento tendrá de fondo el color verde claro y el color del texto sera gris.*/
body {
    background-color: greenyellow;
    color: grey;
}
/*Los titulares de primer nivel (h1) serán de color rojo.*/
hi {
    color: red;
}
/* Los párrafos tendrán color negro y tamaño 12 px.*/
p {
    color: black;
    font-size: 12px;
}