h1 {
    text-align: center;
}

.container {
    margin: 0px auto;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    /* overflow-y --> evita que la imagen se salga del container */
}

img {
    float: right;
    margin: 0px 1em;
    width: 20%;
    /* por defecto 1em=16px */
}

img.left {
    float: left;
}