* {
    font-family: Arial, Verdana;
}

#cabecera {
    background-color: lightgreen;
    padding: 0.5em;
}

ul#lista li {
    list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}

ul#lista1,
ul#lista2,
ul#lista3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#lista2 li {
    border: 1px solid black;
    background-color: grey;
    width: 15%;
}

ul#lista3 li {
    display: inline;
    background-color: grey;
    border: 1px solid black;
}

ul#lista3 li:hover {
    background-color: white;
}

ul#lista3 li a:link:hover {
    color: black;
}

ul#lista3 li a:link {
    text-decoration: none;
    color: white;
}

ul#lista3 li a:visited:hover {
    color: black;
}

ul#lista3 li a:visited {
    text-decoration: none;
    color: white;
}

ul#lista3 li a:active:hover {
    color: black;
}

ul#lista3 li a:active {
    text-decoration: none;
    color: white;
}

#pie {
    background-color: green;
    text-align: center;
    margin-top: 0.2em;
}