/* EJERCICIO 5 */
/* Mediante @font-face, añade dos nuevos tipos de fuente a los párrafos de la página anterior 
y a los titulares desde Google Fonts: https://fonts.google.com/. 
Hazlo de las dos formas, desde el enlace Google y descargándolas localmente. */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@font-face {
    font-family: miFuenteLocal;
    src: url(OpenSans-Regular.ttf);
}
/* EJERCICIO 4 */
/* El primero (definición) tendrá color negro, tamaño de fuente 16 px y estilo negrita (bold). */
#definicion {
    color: black;
    font-size: 16px;
    font-style: bold;
    font-family: 'Quicksand', sans-serif; /* Google Fonts */
}
/* El segundo (párrafo_especial) tendrá color verde, tamaño de fuente 14 px y estilo italic. */
#parrafo_especial {
    color: green;
    font-size: 14px;
    font-style: italic;
    font-family: miFuenteLocal; /* Fuente descargada */
}
/* El cuerpo del documento y los titulares de nivel 1 y 2 serán iguales al ejercicio anterior. */
body {
    background-color: lightblue;
    color: grey;
}
h1, h2 {
    color: red;
}


