/* El cuerpo del documento será de color blanco con el texto en gris. Los titulares, color rojo. */
body {
    background-color: white;
    color: grey;    
}
h1, h2 {
    columns: red;
}
/* Los enlaces tendrán color rojo, tamaño de fuente 14px y subrayado. */
a {
    color: red;
    font-size: 14px;
    text-decoration-line: underline;
}
/* Al pasar el ratón sobre los enlaces, el subrayado desaparecerá. */
a:hover {
    text-decoration-line: none;
}
/* Los enlaces visitados tomarán el color gris. */
a:visited {
    color: grey;
}
/* Los enlaces activos tendrán color azul. */
a:active {
    color: blue;
}
/* Los enlaces que reciban el "foco" cambiarán a tamaño 28px, con fondo negro. */
a:focus {
    font-size: 28px;
    background-color: black;
}
/* También aplica una clase a la tabla para que tenga un borde punteado (propiedad border-style con valor dashed). */
table.periodicos {
    border-style: dashed;
}